/* 
fontWeight: {
        fontNormal: "400",
        fontMedium: "500",
        fontSemiBold: "600",
      }, */

/* zIndex:{
  z-tooltip: "10",
  z-fixed: "100",
  z-modal: "1000"
} */

/* Responsive Typo (max-width: 992px){
      bigFontSize: "2.75",
        h1Fontsize: "1.5rem",
        h2Fontsize: "1.25rem",
        h3Fontsize: "1rem",
        normal: "0.938rem",
        smallFontSize: "0.813rem",
        smallerFontSize: "0.75rem",
} */
